.disc-styles {
  content: '';
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.white-disc {
  @extend .disc-styles;
  background-color: white;
  border: 1px solid grey;
}

.black-disc {
  @extend .disc-styles;
  background-color: black;
  border: 1px solid black;
}
