@import "reset";
@import "extends";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.4;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

.display {
  padding: 20px;
  text-align: center;
  h1 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .winner {
    margin-top: 10px;
  }
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  border: 1px solid #2b672e;
  li {
    background-color: #398c3d;
    border: 1px solid #2b672e;
    width: calc(100% / 8);
    position: relative;
    &:after {
      content: '';
      padding-bottom: 100%;
      display: block;
    }
    &.white {
      &:before {
        @extend .white-disc;
      }
    }
    &.black {
      &:before {
        @extend .black-disc;
      }
    }
    &.pulse {
      &:before {
        animation: pulse 1s;
      }
    }
  }
  &.whiteGo {
    li {
      &:not(.white):not(.black) {
        &:hover {
          cursor: pointer;
          &:before {
            @extend .white-disc;
          }
        }
      }
    }
  }
  &.blackGo {
    li {
      &:not(.white):not(.black) {
        &:hover {
          cursor: pointer;
          &:before {
            @extend .black-disc;
          }
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    width: 80%;
    height: 80%;
  }
  50% {
    width: 85%;
    height: 85%;
  }
  100% {
    width: 80%;
    height: 80%;
  }
}
